/* Log-in responsive */



/* Contact */
.conFor {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 800;
  color: white;
}

.conFor label, h3, ::placeholder{

  text-shadow: rgb(0, 0, 0) 0px 0px 7px, rgb(0, 0, 0) 0px 0px 7px, rgb(0, 0, 0) 0px 0px 7px, rgb(0, 0, 0) 0px 0px 7px;
color: white;

}



.conFor input[type=text], textarea {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  font-weight: 800;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: rgba(0, 0, 0, .2);
  resize: none;
  display: inline-block;
  box-sizing: border-box;
  text-shadow: rgb(35, 56, 27) 1px 0 10px;
 
}

.conFor button {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(0, 0, 0, .2);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-color: white;
  border-radius: 6px;
  font-weight: 600;
}

.conFor button:hover {
  opacity: 0.8;
}









/* .conFor input[type=submit] {
  background-color: #213400;
  background-color: rgba(41, 37, 37, 0.6);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.conFor input[type=submit]:hover {
  background-color: #2134a0;
}
 */


/* About */

.aboutTxt{

  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 100px;

}

.aboutTxt h1 {

  
  margin-top: 50px;
  font-size: 300%;
  text-shadow: rgb(238, 234, 221) 1px 0 10px;
}

.aboutTxt p {

  
  margin-top: 15px;
  font-size: 200%;
  font-weight: bold;
  color: white;
  text-shadow: rgb(35, 56, 27) 1px 0 10px;
}


/* Index */
.indexTxt{

  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 100px;

}

.indexTxt p {

  
  margin-top: 15px;
  font-size: 200%;
  font-weight: bold;
  color: white;
  text-shadow: rgb(35, 56, 27) 1px 0 10px;
}

.indexTxt h1 {

  
  margin-top: 120px;
  font-size: 300%;
  text-shadow: rgb(238, 234, 221) 1px 0 10px;
}



/* Engines */
body{
background-image: url("Logo/BCK.jpg");
overflow: auto;
} 

.engines img{
  width: 116px;
  height: 116px;
}

.engines .logoe .box{
  width: 33.3333%; 
text-align: center;
float: left;
padding: 100px 20px;
  box-sizing: border-box;

}

.box:hover{

  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

/* NavBar */

.head{

  width:100%;
  background-color: rgba(0, 0, 0, .2);
  margin-top: 0px;
}

.head ul{

  text-align: center;
  margin-top: 0px;
}

.head ul li{

  list-style: none;
  display:  inline-block;
}

.head ul li a{

display: block;
text-decoration: none;
text-transform: uppercase;
color: #fff;
font-size: 20px;
font-family: 'Raleway', sans-serif;
letter-spacing: 2px;
font-weight: 600;
padding: 25px;
transition: all ease 0.5;
}

.head ul li a:hover{

  background-color: #211b4385;

}

/* LogBar */

.SL{

  width:100%;
  background-color: rgba(0, 0, 0, .3);
  margin-bottom: 0px;
}

.SL ul li a{

  width:100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2px;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  cursor:pointer;
  color: white;
}

.SL {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
}

.SL ul li{

  list-style: none;
  display:  inline-block;
}


/* Log-in form */


#Sub_but {
  background-color: rgba(0, 0, 0, .2);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-color: white;
  border-radius: 6px;
  font-weight: 600;
}

#Sub_but button:hover {
  opacity: 0.8;
}


.container  #TXT{

  font-family: 'Raleway', sans-serif;
  font-weight: 600;

}

.container  input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-shadow: rgb(35, 56, 27) 1px 0 10px;
  border-radius: 6px;
}


h2{

 
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 25px;
}


.error{
  background: #F2DEDE;
  padding: 10px;
  width: 100%;


}



/* GALLERY */


.konter {
  box-sizing: border-box;
}

.konter {
  position: relative;
}


.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: right;
  width: 33.33%;
}

.demo {
  opacity: 0.9;
}

.active,
.demo:hover {
  opacity: 1;
}

